<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>

<body>
    <div class="contenedor-login">
        <div class="caja-login" style="text-align: center;">
            <h2>¡Opps!</h2>
            <p style="margin-bottom: 1.5rem;">
                <%= mensaje %>
            </p>
            <a href="/login" class="btn-principal" style="text-decoration: none; display: inline-block;">Volver al
                Inicio</a>
        </div>
    </div>
</body>

</html>